##### Generating CSV Data and DF for Pedido and Item_Pedido

In [1]:
import csv
import pandas as pd
from random import shuffle, choice, randrange, random
from faker import Faker
from datetime import datetime, timedelta

fake = Faker()

def gen_datetime(min_year=1985, max_year=datetime.now().year):
    # generate a datetime in format yyyy-mm-dd hh:mm:ss.000000
    start = datetime(min_year, 1, 1, 00, 00, 00)
    years = max_year - min_year + 1
    end = start + timedelta(days=365 * years)
    return start + (end - start) * random() 

tbl_id = [id for id in range(1, 8)]
id_unidade = tbl_id.copy()
vlr_pedido = [111, 122, 225, 1008, 409, 888, 77]
vlr_item = [2.87, 88.77, 77.65, 10.13, 14.8, 9.88, 1.22]
shuffle(id_unidade)
shuffle(vlr_pedido)
shuffle(vlr_item)
pedido = {
        "Id_Unidade": id_unidade, 
        "Id_Pedido":  tbl_id, 
        "Tipo_Pedido": [choice((1, 2)) for tipo_p in range(1, 8)],
        "Data_Pedido": [gen_datetime() for data_p in range(1, 8)],
        "Vlr_Pedido": vlr_pedido,
        "Endereco_Entrega": [fake.address() for endereco in range(1, 8)],
        "Taxa_Entrega": [randrange(1, 10) * 2.75 for taxa_entrega in range(1, 8)],
        "Status": [choice((1, 2, 3)) for st in range(1, 8)]
        }
id_pedido = id_unidade.copy()
shuffle(id_pedido)
id_produto = id_pedido.copy()
shuffle(id_produto)
item_pedido = { 
        "Id_Pedido":  id_pedido, 
        "Id_Item_Pedido": tbl_id,
        "Id_Produto": id_produto,
        "Qtd": [choice([i for i in range(100)]) for qtd in range(1, 8)],
        "Vlr_Item": vlr_item,
        "Observacao": [None for taxa_entrega in range(1, 8)],
        }

df_pedido = pd.DataFrame(pedido)
df_item_pedido = pd.DataFrame(item_pedido)

print("Pedido DF: ")
display(df_pedido)
print("Item Pedido DF: ")
display(df_item_pedido)

Pedido DF:

,Id_Unidade,Id_Pedido,Tipo_Pedido,Data_Pedido,Vlr_Pedido,Endereco_Entrega,Taxa_Entrega,Status
0,6,1,1,2001-06-19 18:16:54.880855,1008,Unit 0540 Box 8554\nDPO AE 38602,8.25,3
1,1,2,1,2006-11-19 07:02:35.750054,111,"264 Robert Falls Apt. 057\nLisaland, NV 50902",2.75,2
2,4,3,1,1988-04-15 05:54:20.932292,122,"41610 Gregory Bridge\nDavidberg, GU 15907",24.75,1
3,3,4,1,2001-01-02 20:27:20.567141,77,0012 Martinez Stream Apt. 148\nLake Elizabeths...,2.75,3
4,7,5,1,2015-08-09 11:45:33.017532,888,"751 Dixon Ridge\nTurnermouth, NH 16317",19.25,1
5,2,6,1,2010-04-20 12:25:36.295792,409,"16812 Perez Lights Apt. 314\nSmithton, LA 98077",16.50,3
6,5,7,1,2004-01-27 07:16:49.366687,225,"129 Lamb Trafficway\nLake Andrea, KS 59136",22.00,1

Item Pedido DF:

   Id_Pedido  Id_Item_Pedido  Id_Produto  Qtd  Vlr_Item Observacao
0          7               1           2   84     14.80       None
1          5               2           4   44      2.87       None
2          4               3           7   88     10.13       None
3          6               4           6    9      9.88       None
4          2               5           3    9     88.77       None
5          3               6           5   89      1.22       None
6          1               7           1   21     77.65       None

##### Creation of CSVs

In [7]:
def pivot_table(table_values):
    values, temp_list = [], []
    for idx in range(len(list(table_values.values())[0])):
        for value in table_values.values():
            temp_list += [value[idx]]
        values.append(temp_list)
        temp_list = []
    return values

pedido_values, item_pedido_values = pivot_table(pedido), pivot_table(item_pedido)

def create_csv(name, table, table_values):
    with open(f"./csv-tables/{name}.csv", 'w', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(table)
    
        for row in table_values:
            writer.writerow(row)

try:
    create_csv("pedido", pedido, pedido_values)
    create_csv("item_pedido", item_pedido, item_pedido_values)
except Exception as e:
    print(f"Erro: {e}. CSVs não criados.")
else:
    print("CSVs criados.")

CSVs criados.

In [28]:
with open("./csv-tables/oxinhos.csv", 'w') as f:
    f.write("hey")