##### Generating CSV Data and DF for Pedido and Item_Pedido

In [11]:
import csv
import pandas as pd
from random import shuffle, choice, randrange, random
from faker import Faker
from datetime import datetime, timedelta

fake = Faker()

def gen_datetime(min_year=1985, max_year=datetime.now().year):
    # generate a datetime in format yyyy-mm-dd hh:mm:ss.000000
    start = datetime(min_year, 1, 1, 00, 00, 00)
    years = max_year - min_year + 1
    end = start + timedelta(days=365 * years)
    return start + (end - start) * random() 

tbl_id = [id for id in range(1, 8)]
id_unidade = tbl_id.copy()
vlr_pedido = [111, 122, 225, 1008, 409, 888, 77]
vlr_item = [2.87, 88.77, 77.65, 10.13, 14.8, 9.88, 1.22]
shuffle(id_unidade)
shuffle(vlr_pedido)
shuffle(vlr_item)

pedido = {
        "Id_Unidade": id_unidade, 
        "Id_Pedido":  tbl_id, 
        "Tipo_Pedido": [choice((1, 2)) for tipo_p in range(1, 8)],
        "Data_Pedido": [gen_datetime() for data_p in range(1, 8)],
        "Vlr_Pedido": vlr_pedido,
        "Endereco_Entrega": [fake.address() for endereco in range(1, 8)],
        "Taxa_Entrega": [randrange(1, 10) * 2.75 for taxa_entrega in range(1, 8)],
        "Status": [choice((1, 2, 3)) for st in range(1, 8)]
        }

id_pedido = id_unidade.copy()
shuffle(id_pedido)
id_produto = id_pedido.copy()
shuffle(id_produto)

item_pedido = { 
        "Id_Pedido":  id_pedido, 
        "Id_Item_Pedido": tbl_id,
        "Id_Produto": id_produto,
        "Qtd": [choice([i for i in range(100)]) for qtd in range(1, 8)],
        "Vlr_Item": vlr_item,
        "Observacao": [None for taxa_entrega in range(1, 8)],
        }


df_pedido = pd.DataFrame(pedido)
df_item_pedido = pd.DataFrame(item_pedido)

print("Pedido DF: ")
display(df_pedido)
print("Item Pedido DF: ")
display(df_item_pedido)

Pedido DF:

,Id_Unidade,Id_Pedido,Tipo_Pedido,Data_Pedido,Vlr_Pedido,Endereco_Entrega,Taxa_Entrega,Status
0,1,1,2,2008-09-06 07:26:18.548668,888,"938 Benson Well Suite 102\nJohnbury, GA 83059",16.50,2
1,4,2,2,1989-06-13 21:00:54.591852,225,"4044 Thompson Vista Suite 865\nMooreton, PA 62544",13.75,2
2,6,3,1,2022-10-08 13:50:44.475830,77,"13372 Molly Valleys Apt. 500\nEast Tabitha, ND...",24.75,1
3,2,4,2,1990-05-27 06:05:20.726043,122,"341 Fitzpatrick Road\nSouth Bridget, OR 60662",5.50,2
4,5,5,1,1992-01-20 04:56:31.935233,1008,"06362 Angela Lakes Suite 136\nLindseyton, TN 3...",13.75,1
5,3,6,2,2018-06-15 00:02:50.429421,409,"35053 Kathleen Port Suite 585\nCortezchester, ...",22.00,2
6,7,7,1,2018-04-23 15:17:48.888579,111,"4636 Robinson Mountain\nHeiditon, MS 01606",5.50,1

Item Pedido DF:

   Id_Pedido  Id_Item_Pedido  Id_Produto  Qtd  Vlr_Item Observacao
0          7               1           3   17     10.13       None
1          1               2           2   59     14.80       None
2          6               3           6   69     77.65       None
3          2               4           7   17      1.22       None
4          3               5           4   25      9.88       None
5          5               6           1    3     88.77       None
6          4               7           5   94      2.87       None

##### Creation of CSVs

In [30]:
def pivot_table(table_values):
    values, temp_list = [], []
    for idx in range(len(list(table_values.values())[0])):
        for value in table_values.values():
            temp_list += [value[idx]]
        values.append(temp_list)
        temp_list = []
    return values

pedido_values, item_pedido_values = pivot_table(pedido), pivot_table(item_pedido)

def create_csv(name, table, table_values):
    with open(f"./csv-tables/{name}.csv", 'w', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(table)
    
        for row in table_values:
            writer.writerow(row)

try:
    create_csv("pedido", pedido, pedido_values)
    create_csv("item_pedido", item_pedido, item_pedido_values)
except Exception as e:
    print(f"Erro: {e}. CSVs não criados.")
else:
    print("CSVs pedido e item_pedido criados.")

CSVs pedido e item_pedido criados.